body {
  font-size: 1.4em;
}

.error {
  color: green;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid blue 1px;
  padding-left: 4px;
  padding-right: 6px;
}
